<nav>
  <!--<div class="logo">
    <img src="{{ '/assets/images/cat_logo.png' | relative_url }}" alt="">
  </div>-->
  <ul class="sidebar">
    <li onclick="hideSidebar()">
      <img src="{{ '/assets/images/close.svg' | relative_url }}" alt="" class="open-close">
    </li>
    <li><a href="#">Wie</a></li>
    <li><a href="#">Wat</a></li>
    <li><a href="#">Hoe</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <ul class="topbar">
    <li class="hideOnMobile"><a href="#">Wie</a></li>
    <li class="hideOnMobile"><a href="#">Wat</a></li>
    <li class="hideOnMobile"><a href="#">Hoe</a></li>
    <li class="hideOnMobile"><a href="#">Contact</a></li>
    <li class="menu-button" onclick="showSidebar()">
      <img src="{{ '/assets/images/open.svg' | relative_url }}" alt="" class="open-close">
    </li>
  </ul>
</nav>
